.body2{
    background-color: rgb(160, 176, 214);
    width: 100%;
    height: 100vh;
}

.ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 35vh;
    text-align: center;

    gap: 20px;
    
}